.videoInsert {
    width: 100%;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flexTop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.imgCenter {
    position: unset !important;
    height: unset !important;
    width: 100% !important;
}

.halfBottom {
    margin-bottom: 0.5rem;
}

.fullscreenPadding {
    padding-left: 12rem !important;
}

.moreWidth {
    min-width: 45% !important;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

@media screen and (max-width: 480px) {
    .gp-profile {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content p {
        text-align: center;
    }

    .contentContainer {
        flex-direction: column;
    }
}

.logoContainer {
    --size: 2.75em;

    border-radius: var(--size);
    display: inline-block;
    height: var(--size);
    line-height: 2.75em;
    width: var(--size);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);

    margin: 0 0 1rem 0;

    font-size: 1.25rem;
}

.logoContainer .flexCenter {
    width: inherit;
    height: inherit;
}

.logoImage {
    max-width: 2rem;
}