.videoInsert {
    width: 100%;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flexTop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.imgCenter {
    position: unset !important;
    height: unset !important;
    width: 100% !important;
}

.halfBottom {
    margin-bottom: 0.5rem;
}

.fullscreenPadding {
    padding-left: 12rem !important;
}

.moreWidth {
    min-width: 45% !important;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}